{% for i in host_ips.keys() %}
update delete {{ host_names[i] }}
update add {{ host_names[i] }} 60 A {{ host_ips[i] }}
{% endfor %}

update add *.apps.{{ ocp_servers_domain }} 60 A {{ host_ips['ocp_node0'] }}
send
