---
heat_template_version: 2013-05-23

description: >
  HOT template to create a new neutron network plus a router to the public
  network, and for deploying two servers into the new network.
  The template also assigns floating IP addresses to each server so they are
  routable from the public network.
parameters:
  dns:
    type: comma_delimited_list
    label: DNS nameservers
    description: |
        Comma separated list of DNS nameservers for the private network.
    default: ''

resources:
  private_net:
    type: OS::Neutron::Net
    properties:
      name: {{ params['private_net_name'] }}

  private_subnet:
    type: OS::Neutron::Subnet
    properties:
      network_id: { get_resource: private_net }
      cidr: {{ params['private_net_cidr'] }}
      gateway_ip: {{ params['private_net_gateway'] }}
      dns_nameservers: { get_param: dns }
      allocation_pools:
        - start: {{ params['private_net_pool_start'] }}
          end: {{ params['private_net_pool_end'] }}

  router:
    type: OS::Neutron::Router
    properties:
      external_gateway_info:
        network: {{ params['public_net'] }}

  router_interface:
    type: OS::Neutron::RouterInterface
    properties:
      router_id: { get_resource: router }
      subnet_id: { get_resource: private_subnet }

  ocp_master:
    type: OS::Nova::Server
    properties:
      name:
        str_replace:
          template: ocp-master.suffix%.{{ params['dns_zone'] }}
          params:
            "suffix%": { get_attr: [ ocp_deployment_pqdn, value ] }
      image: {{ params['image'] }}
      flavor: {{ params['flavor'] }}
      key_name: secret
      networks:
        - port: { get_resource: ocp_master_port }
      user_data_format: SOFTWARE_CONFIG
      user_data: { get_resource: server_init }

  ocp_master_port:
    type: OS::Neutron::Port
    properties:
      network_id: { get_resource: private_net }
      fixed_ips:
        - subnet_id: { get_resource: private_subnet }

  ocp_master_floating_ip:
    type: OS::Neutron::FloatingIP
    properties:
      floating_network: {{ params['public_net'] }}
      port_id: { get_resource: ocp_master_port }

{% for n in range(params['number_of_nodes']) %}

  ocp_node{{ n }}:
    type: OS::Nova::Server
    properties:
      name:
        str_replace:
          template: ocp-node{{ n }}.suffix%.{{ params['dns_zone'] }}
          params:
            "suffix%": { get_attr: [ ocp_deployment_pqdn, value ] }
      image: {{ params['image'] }}
      flavor: {{ params['flavor'] }}
      key_name: secret
      networks:
        - port: { get_resource: ocp_node{{ n }}_port }
      user_data_format: SOFTWARE_CONFIG
      user_data: { get_resource: server_init }

  ocp_node{{ n }}_port:
    type: OS::Neutron::Port
    properties:
      network_id: { get_resource: private_net }
      fixed_ips:
        - subnet_id: { get_resource: private_subnet }

  ocp_node{{ n }}_floating_ip:
    type: OS::Neutron::FloatingIP
    properties:
      floating_network: {{ params['public_net'] }}
      port_id: { get_resource: ocp_node{{ n }}_port }

{% endfor %}

  boot_config:
    type: OS::Heat::CloudConfig
    properties:
      cloud_config:
        final_message: >
            cloud-init boot finished at $TIMESTAMP. Up $UPTIME seconds

  boot_script:
    type: OS::Heat::SoftwareConfig
    properties:
      group: ungrouped
      config: |
        #!/bin/bash
        sed -i -e 's/^Defaults\s\+requiretty/# \0/' /etc/sudoers

  server_init:
    type: OS::Heat::MultipartMime
    properties:
      parts:
        - config: { get_resource: boot_config }
        - config: { get_resource: boot_script }

  ocp_deployment_pqdn:
    type: OS::Heat::RandomString
    properties:
      length: 5
      salt: {{ params['stack_name'] }}
      # We need to make this string dns-name compatible.
      character_classes:
        - { "min": 1, "class": lowercase }
        - { "min": 1, "class": digits }

outputs:
  ocp_deployment_pqdn:
    description: The suffix of the instances names
    value: { get_attr: [ ocp_deployment_pqdn, value ] }
  ocp_master_private_ip:
    description: IP address of ocp_master in private network
    value: { get_attr: [ ocp_master, first_address ] }
  ocp_master_public_ip:
    description: Floating IP address of ocp_master in public network
    value: { get_attr: [ ocp_master_floating_ip, floating_ip_address ] }
  ocp_master_name:
    description: Instance name of the openshift master node.
    value: { get_attr: [ ocp_master, name ] }
{% for n in range(params['number_of_nodes']) %}
  ocp_node{{ n }}_private_ip:
    description: IP address of ocp_node{{ n }} in private network
    value: { get_attr: [ ocp_node{{ n }}, first_address ] }
  ocp_node{{ n }}_public_ip:
    description: Floating IP address of ocp_node{{ n }} in public network
    value: { get_attr: [ ocp_node{{ n }}_floating_ip, floating_ip_address ] }
  ocp_node{{ n }}_name:
    description: Instance name of the openshift node{{ n }}.
    value: { get_attr: [ ocp_node{{ n }}, name ] }
{% endfor %}
    